---
http_interactions:
- request:
    method: get
    uri: http://www.bbc.co.uk/news/sitemap.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - text/xml
      X-Lb-Nocache:
      - 'true'
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
           <url>
            <loc>http://www.bbc.co.uk/news/uk-27122380</loc>
            <lastmod>2014-04-23T18:07:19Z</lastmod>
            <changefreq>always</changefreq>
            <priority>1.0</priority>
          </url>
           <url>
            <loc>http://www.bbc.co.uk/news/uk-england-sussex-27130223</loc>
            <lastmod>2014-04-23T18:04:14Z</lastmod>
            <changefreq>always</changefreq>
            <priority>1.0</priority>
          </url>
           <url>
            <loc>http://www.bbc.co.uk/news/world-us-canada-27131635</loc>
            <lastmod>2014-04-23T18:04:11Z</lastmod>
            <changefreq>always</changefreq>
            <priority>1.0</priority>
 [...]
- request:
    method: get
    uri: http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Fri, 01 Feb 2013 20:19:30 GMT
      Etag:
      - '"80d5d370b90ce1:0"'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<xsd:schema xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\r\n
        \           targetNamespace=\"http://www.sitemaps.org/schemas/sitemap/0.9\"\r\n
        \           xmlns=\"http://www.sitemaps.org/schemas/sitemap/0.9\"\r\n            elementFormDefault=\"qualified\">\r\n
        \ <xsd:annotation>\r\n    <xsd:documentation>\r\n      XML Schema for Sitemap
        files.\r\n      Last Modifed 2008-03-26\r\n    </xsd:documentation>\r\n  </xsd:annotation>\r\n\r\n
        \ <xsd:element name=\"urlset\">\r\n    <xsd:annotation>\r\n      <xsd:documentation>\r\n
        \       Container for a set of up to 50,000 document elements.\r\n        This
        is the root element of the XML file.\r\n      </xsd:documentation>\r\n    </xsd:annotation>\r\n
        \   <xsd:complexType>\r\n      <xsd:sequence>\r\n        <xsd:any namespace=\"##other\"
        minOccurs=\"0\" maxOccurs=\"unbounded\" processContents=\"strict\"/>\r\n        <xsd:element
        name=\"url\" type=\"tUrl\" maxOccurs=\"unbounded\"/>\r\n      </xsd:sequence>\r\n
        \   </xsd:complexType>\r\n  </xsd:element>\r\n\r\n  <xsd:complexType name=\"tUrl\">\r\n
        \   <xsd:annotation>\r\n      <xsd:documentation>\r\n        Container for
        the data needed to describe a document to crawl.\r\n      </xsd:documentation>\r\n
        \   </xsd:annotation>\r\n    <xsd:sequence>\r\n      <xsd:element name=\"loc\"
        type=\"tLoc\"/>\r\n      <xsd:element name=\"lastmod\" type=\"tLastmod\" minOccurs=\"0\"/>\r\n
        \     <xsd:element name=\"changefreq\" type=\"tChangeFreq\" minOccurs=\"0\"/>\r\n
        \     <xsd:element name=\"priority\" type=\"tPriority\" minOccurs=\"0\"/>\r\n
        \     <xsd:any namespace=\"##other\" minOccurs=\"0\" maxOccurs=\"unbounded\"
        processContents=\"strict\"/>\r\n    </xsd:sequence>\r\n  </xsd:complexType>\r\n\r\n
        \ <xsd:simpleType name=\"tLoc\">\r\n    <xsd:annotation>\r\n      <xsd:documentation>\r\n
        \       REQUIRED: The location URI of a document.\r\n        The URI must
        conform to RFC 2396 (http://www.ietf.org/rfc/rfc2396.txt).\r\n      </xsd:documentation>\r\n
        \   </xsd:annotation>\r\n    <xsd:restriction base=\"xsd:anyURI\">\r\n      <xsd:minLength
        value=\"12\"/>\r\n      <xsd:maxLength value=\"2048\"/>\r\n    </xsd:restriction>\r\n
        \ </xsd:simpleType>\r\n\r\n  <xsd:simpleType name=\"tLastmod\">\r\n    <xsd:annotation>\r\n
        \     <xsd:documentation>\r\n        OPTIONAL: The date the document was last
        modified. The date must conform\r\n        to the W3C DATETIME format (http://www.w3.org/TR/NOTE-datetime).\r\n
        \       Example: 2005-05-10\r\n        Lastmod may also contain a timestamp.\r\n
        \       Example: 2005-05-10T17:33:30+08:00\r\n      </xsd:documentation>\r\n
        \   </xsd:annotation>\r\n    <xsd:union>\r\n      <xsd:simpleType>\r\n        <xsd:restriction
        base=\"xsd:date\"/>\r\n      </xsd:simpleType>\r\n      <xsd:simpleType>\r\n
        \       <xsd:restriction base=\"xsd:dateTime\"/>\r\n      </xsd:simpleType>\r\n
        \   </xsd:union>\r\n  </xsd:simpleType>\r\n\r\n  <xsd:simpleType name=\"tChangeFreq\">\r\n
        \   <xsd:annotation>\r\n      <xsd:documentation>\r\n        OPTIONAL: Indicates
        how frequently the content at a particular URL is\r\n        likely to change.
        The value \"always\" should be used to describe\r\n        documents that
        change each time they are accessed. The value \"never\"\r\n        should
        be used to describe archived URLs. Please note that web\r\n        crawlers
        may not necessarily crawl pages marked \"always\" more often.\r\n        Consider
        this element as a friendly suggestion and not a command.\r\n      </xsd:documentation>\r\n
        \   </xsd:annotation>\r\n    <xsd:restriction base=\"xsd:string\">\r\n      <xsd:enumeration
        value=\"always\"/>\r\n      <xsd:enumeration value=\"hourly\"/>\r\n      <xsd:enumeration
        value=\"daily\"/>\r\n      <xsd:enumeration value=\"weekly\"/>\r\n      <xsd:enumeration
        value=\"monthly\"/>\r\n      <xsd:enumeration value=\"yearly\"/>\r\n      <xsd:enumeration
        value=\"never\"/>\r\n    </xsd:restriction>\r\n  </xsd:simpleType>\r\n\r\n
        \ <xsd:simpleType name=\"tPriority\">\r\n    <xsd:annotation>\r\n      <xsd:documentation>\r\n
        \       OPTIONAL: The priority of a particular URL relative to other pages\r\n
        \       on the same site. The value for this element is a number between\r\n
        \       0.0 and 1.0 where 0.0 identifies the lowest priority page(s).\r\n
        \       The default priority of a page is 0.5. Priority is used to select\r\n
        \       between pages on your site. Setting a priority of 1.0 for all URLs\r\n
        \       will not help you, as the relative priority of pages on your site\r\n
        \       is what will be considered.\r\n      </xsd:documentation>\r\n    </xsd:annotation>\r\n
        \   <xsd:restriction base=\"xsd:decimal\">\r\n      <xsd:minInclusive value=\"0.0\"/>\r\n
        \     <xsd:maxInclusive value=\"1.0\"/>\r\n    </xsd:restriction>\r\n  </xsd:simpleType>\r\n\r\n</xsd:schema>\r\n"
  recorded_at: Wed, 23 Apr 2014 18:12:09 GMT
recorded_with: VCR 2.8.0
