---
http_interactions:
- request:
    method: get
    uri: http://www.bbc.co.uk/sitemap.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 21 Nov 2013 14:17:15 GMT
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/siteindex.xsd">

        <sitemap><loc>http://www.bbc.co.uk/news/sitemap.xml</loc></sitemap>

        <sitemap><loc>http://www.bbc.co.uk/bbcaudiositemap.xml</loc><lastmod>2011-03-03</lastmod></sitemap>
        <sitemap><loc>http://www.bbc.co.uk/bbcvisionsitemap.xml</loc><lastmod>2013-11-21</lastmod></sitemap>
        <sitemap><loc>http://www.bbc.co.uk/bbcfuturemediasitemap.xml</loc><lastmod>2011-01-25</lastmod></sitemap>

        <sitemap><loc>http://www.bbc.co.uk/sport/sitemap.xml</loc></sitemap>
        <sitemap><loc>http://www.bbc.co.uk/tv/comingup/comingup_sitemap.xml</loc></sitemap>
        <sitemap><loc>http://www.bbc.co.uk/iplayer/sitemap.xml.gz</loc></sit[...]
