<%= form_for @sitemap, method: "GET", url: validate_sitemap_url, html: { class: 'navbar-left' } do |f| %>
  <div class="input-group">
    <%= f.text_field :url, class: 'form-control', placeholder: 'URL...' %>
    <div class="input-group-btn">
    <%= f.submit 'Validate', class: 'btn btn-primary' %>
  </div>
  </div>
<% end %>
