<dl class="dl-horizontal">
  <dt>HTTP Status</dt>
  <dd>
    <% case @sitemap.response.status %>
    <% when 200 %>
    <span class="label label-success">OK</span>
    <% else %>
    <span class="label label-danger"><%= @sitemap.response.status %></span>
    <% end %>
  </dd>

  <dt>Response size</dt>
  <dd>
    <%= number_to_human_size @sitemap.response.body.length %>
  </dd>

  <dt>Response time</dt>
  <dd><%= @sitemap.timing %>s</dd>
</dl>
