<dl class="dl-horizontal">
<% @sitemap.md.each do |m| %>
<dt>md</dt>
<dd>
  <% m.each do |k,v| %>
    <div><%= k %>: <%= v %></div>
  <% end %>
</dd>
<% end %>

<% @sitemap.ln.each do |m| %>
<dt>ln</dt>
<dd>
  <% m.each do |k,v| %>
    <div><%= k %>: <%= v %></div>
  <% end %>
</dd>
<% end %>
</dl>
