<li class="sitemap">
  <h4 class="loc"><%= link_to sitemap.loc, validate_sitemap_path(sitemap: { url: sitemap.loc}) %>
    <small><%= link_to "[xml]", sitemap.loc %></small>
  </h4>
  
  <dl class="dl-horizontal">
    <%= render 'common_core', object: sitemap %>
    <%= render 'resourcesync_core', object: sitemap %>
  </dl>
</li>
