<li class="url">
  <h4 class="loc"><%= link_to url.loc, url.loc %></h4>
  
  <dl class="dl-horizontal">
    <%= render 'common_core', object: url %>
    <%= render 'resourcesync_core', object: url %>
  </dl>
</li>
