<dl class="dl-horizontal">
  <dt>Sitemap</dt>
  <dd>
  <span class="label label-success">Present</span>
  </dd>

  <dt>Resource Sync</dt>
  <dd>
  <% if @sitemap.resourcesync? %>
    <span class="label label-success">Present</span>
  <% else %>
    <span class="label label-warning">Missing</span>
  <% end %>
  </dd>
  
  <dt>Schema Valid</dt>
  <dd>
  <% if @sitemap.schema_valid? %>
    <span class="label label-success">Valid</span>
  <% else %>
    <span class="label label-danger">Error</span>
  <% end %>
  </dd>
</dl>

<% unless @sitemap.schema_valid?  %>
<h4>Validation Warnings <small><span class="badge"><%= @sitemap.schema_errors.count %></span></small></h4>
<ul>
<% @sitemap.schema_errors.group_by { |x| x.to_s }.each do |k,v| %>
  <%= content_tag :li do %>
    <%= content_tag :span, v.length, class: 'badge' %> <%= k %>
  <% end %>
<% end %>
</ul>
<% end %>
