<%= render 'form' %>

<h2>Examples</h2>
<ul>
  <li><%= link_to 'BBC.co.uk', validate_sitemap_url(sitemap: { url: 'http://www.bbc.co.uk/sitemap.xml'}) %></li>
  <li><%= link_to 'openvault.wgbh.org', validate_sitemap_url(sitemap: { url: 'http://openvault.wgbh.org/sitemap.xml.gz'}) %></li>
</ul>
