<div class="row">
  <div class="col-md-12">
    <h2>Download, validate and evaluate sitemaps</h2>
    <%= render 'form' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Examples</h2>
    <ul>
      <li><%= link_to 'BBC.co.uk', validate_sitemap_url(sitemap: { url: 'http://www.bbc.co.uk/sitemap.xml'}) %></li>
      <li><%= link_to 'openvault.wgbh.org', validate_sitemap_url(sitemap: { url: 'http://openvault.wgbh.org/sitemap.xml.gz'}) %></li>
      <li><%= link_to 'ResourceSync Simulator', validate_sitemap_url(sitemap: { url: 'http://resync.library.cornell.edu/sim100/resourcelist.xml '}) %></li>
    </ul>
  </div>
</div>
