---
http_interactions:
- request:
    method: get
    uri: http://resync.library.cornell.edu/sim100/resourcelist.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4c3956b4b37e2c22085ce038779c51b75ac86441"'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version='1.0' encoding='UTF-8'?>
        <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:rs="http://www.openarchives.org/rs/terms/"><rs:ln href="http://resync.library.cornell.edu/sim100" rel="describedby" /><rs:ln href="http://resync.library.cornell.edu/sim100/capabilitylist.xml" rel="up" /><rs:md at="2014-04-23T22:43:02.808653Z" capability="resourcelist" /><url><loc>http://resync.library.cornell.edu/sim100/resources/2323</loc><lastmod>2014-04-23T22:28:36.328741Z</lastmod><rs:md hash="md5:E+0tzxHYD0ohNZG+DFqXrA==" length="529" /></url><url><loc>http://resync.library.cornell.edu/sim100/resources/2322</loc><lastmod>2014-04-23T22:41:37.109357Z</lastmod><rs:md hash="md5:0DzsjcD98Z3nwO+7TNcRcg==" length="127" /></url><url><loc>http://resync.library.cornell.edu/sim100/resources/2320</loc><lastmod>2014-04-23T22:27:06.236106Z</lastmod><rs:md hash="md5:WnnCP0QsScOO5iMxMEE1zw==" length="465" /></url><url><loc>http://resync.library.corne[...]
