// Place all the styles related to the sitemaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
  padding-top: 3em;
}
#peek {
  position: absolute; 
  top: 0;
  width: 100%;
}


#editor {
  height: 500px;
  font-size: 16px;
}
